body {
    background-color: #64b1ff;
}

.jumbotron-ticketing {
	margin-top: 20px;
	padding-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}

.strong {
	font-weight: bold;
}

a {
	color: #741d1f;
}

a:HOVER {
	color: #000000;
	text-decoration: none;
}

.navbar-ticketing {
	background-color: #eee;
	border: none;
}

.navbar-ticketing .navbar-nav > li > a {
	color: black;
} 

.navbar-ticketing .navbar-nav > li > a:hover {
	color: crimson;
} 